body {
  font-size: 16px;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: #ffffff;
  margin: 10px;
}
h1,
h2,
h3,
p {
  margin: 10px;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.content {
  color: white;
}
.gridster .gs-w {
  background: white;
  cursor: pointer;
/*  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);*/
}
.gridster .player {
/*  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);*/
  background: white;
}
.gridster .gs-w.try {
  background-repeat: no-repeat;
  background-position: 37px -169px;
}
.gridster .preview-holder {
  border: none !important;
  border-radius: 0 !important;
  background: white !important;
}
.gridster ul {
  background-color: white;
}
.gridster li {
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  line-height: 100%;
}
ul {
  list-style-type: none;
}
li {
  list-style: none;
  font-weight: bold;
}
.gridster-box {
  position: relative;
  width: 100%;
  height: 100%;
}
.controls {
  margin-bottom: 0px;
}